* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  width: 1080px;
  height: auto;
  margin: 0 auto;
}

.first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.first:nth-child(odd) {
  flex-direction: row-reverse;
}

/* 
.second {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: auto;
} */

.firstInner2,
.firstInner1 {
  flex: 50%;
  text-align: center;
  margin: 0 15px;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 400px;
  text-align: center;
  margin: 15px;
  position: relative;
}

.third img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100vw;
}

.thirdInner {
  position: absolute;
  z-index: 1;
}
