#slider-container {
  width: 100%;
  position: relative;
}
#slider {
  width: 100%;
  display: flex;
}
.slide {
  width: 100%;
}
.hidden {
  display: none;
}
.sliderbtn {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.btns {
  display: flex;
  justify-content: space-between;
}
#prevBtn img,
#nextBtn img {
  width: 100%;
  cursor: pointer;
}
